/* Start Global Rules */
body{
  background-image: linear-gradient(45deg, #e37682, #5f4d93);
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
:root{
  --hover-back-color: #f1f1f1;
  --sec-padding: 5em 0;
  --LH: 1.5;
  --letter-space: -1px;
  --mianTrans: 0.2s;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.main-container{
  padding: 0 40px;
  margin: 0 auto;
}
/* Small */
@media (max-width:767px) {
  .main-container {
    padding: 0 15px;
  }
}
.container {
  padding: 0 75px;
  margin: 0 auto;
  max-width: 100%;
}

/* Mobile */
@media (max-width:767px) {
  .container {
    padding: 0 20px;
  }
}

/* Small */
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.main-title{
  font-size: 2.5em;
  font-weight: 200;
  text-transform: capitalize;
  position: relative;
  width: fit-content;
  margin: 0 auto 2em;
  letter-spacing: var(--letter-space);
}
.main-title::after{
content: '';
position: absolute;
background-image: linear-gradient(90deg,#efa8b0 33.3%,#a89cc8 66.6%,#8cc9f0 100%);
width: 60%;
height: 2px;
left: 20%;
bottom: -1em;
}

.more{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5em;
  text-transform: capitalize;
  color: black;
  font-weight: 200;
  font-size: 1em;
  padding: 0.5em;
  margin: 2.5em auto 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--mianTrans);
  -webkit-transition: var(--mianTrans);
  -moz-transition: var(--mianTrans);
  -ms-transition: var(--mianTrans);
  -o-transition: var(--mianTrans);
}
.more:hover{
  background-color: var(--hover-back-color);
}
.section{
  padding: var(--sec-padding);
  border-bottom: 1px solid #ddd;
}
/* End Global Rules */

/* Start Header*/

header{
  padding: 8em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  letter-spacing: var(--letter-space);
}
header .logo img{
  width: 5em;
}
header .text h1{
  font-weight: 300;
  font-size: 3.5em;
}
header .text p{
  font-weight: 300;
  font-size: 1.25em;
  line-height: var(--LH);
  color: #a69bca;
  
}
header .text p a{
  color: #a69bca;
  
}
header .text p a:hover{
  color: #ffff;
  border: none;
}
/* End Header */

/* Start Nav */
nav{
  position: sticky;
  top: 0;
  background-color: #f7f7f7;
  padding: 1.75em;
  text-transform: capitalize;
  z-index: 25;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
nav .links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

nav .links li a{
  color: #636363;
  padding: 0.5em;
  font-size:1.125em;
  font-size:18px;
  font-weight: 300;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}
nav .links a:hover{
  background-color: var(--hover-back-color);
}
nav .links a.active{
  background-color: white;
}
@media (max-width:767px) {
  nav {
    padding: 0.75em;
  }
  nav .links{
    gap: 10px;
  }
  nav .links a:hover,
  nav .links a.active{
    background-color: inherit;
  }
}
/* End Nav */

/* Start Section */
section{
  position: relative;
  top: -1px;
  overflow: hidden;
  background-color: white;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
/* End Section */

/* Start Introduction */
.introduction .container{
  display: flex;
  gap: .9em;
}
.introduction .content{
  flex-basis: 60%;
}
.introduction .content h2,
.introduction .content a{
  margin-left: 0;
}
.introduction .content h2::after{
  left: 0;
}
.introduction .content p{
  font-size: 1.1em;
  font-weight: 200;
  line-height: var(--LH);
  margin-bottom: 2em;
}

.introduction .container .img{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  position: relative;
  padding: 1.2em;
}
.introduction .holder{
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 275px;
  height: 275px;
  
}
.introduction .container img{
  position: absolute;
  top: 50%;
  right: 50%;
  width: 250px;
  height: 250px;
  z-index: 2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(50%,-50%);
  -webkit-transform: translate(50%,-50%);
  -moz-transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
  -o-transform: translate(50%,-50%);
}
@media (max-width: 767px){
  .introduction .container{
    flex-direction: column;
  }
  .introduction .content h2{
    margin: 0 auto 2em;
  }
  .introduction .content h2::after{
    left: 20%;
  }
  .introduction .content p{
    text-align: center;
  }
  .introduction .content .more{
    margin: 2.5em auto 0;
  }
  .introduction .container .img{
    order: -1;
  }
}

/* End Introduction */

/* Start First Section */
.first .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 10px;
}
.first .box{
  text-align: center;
  margin-bottom: 2em;
}
.first .box i{
  position: relative;
  font-size: 6em;
  border: 1px solid #dddddd;
  padding: 0.5em;
  margin-bottom: 0.6em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.first .box:nth-child(1) i{
  color: #efa8b0;
}
.first .box:nth-child(2) i{
  color: #a89cc8;
}
.first .box:nth-child(3) i{
  color: #8cc9f0;
}
.first .box i::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 113%;
  height: 113%;
  border: inherit;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.first .box h3{
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 1.4em;
}
.first .box p{
  font-weight: 200;
  font-size: 1.15em;
  line-height: var(--LH);
}
@media (min-width:768px) and (max-width:1199px){
  .first .box:nth-child(3){
    grid-column: 1/3;
  }
}

/* End First Section */

/* Start Second Section */
.second .container{
  text-align: center;
}
.second .p1{
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: var(--letter-space);
  line-height: var(--LH);
  max-width: 600px;
  margin: 0 auto 2em;
}
.second .stats{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.second .stats .box{
  flex-basis: 20%;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 300;
}
.second .stats .box:nth-child(1){
  background-color: #efa8b0;
}
.second .stats .box:nth-child(2){
  background-color: #c79cc8;
}
.second .stats .box:nth-child(3){
  background-color: #a89cc8;
}
.second .stats .box:nth-child(4){
  background-color: #9bb2e1;
}
.second .stats .box:nth-child(5){
  background-color: #8cc9f0;
}
.second .stats .box i{
  font-size: 2.3em;
  margin-bottom: 0.3em;
}
.second .stats .box .number{
  font-size: 2em;
  margin-bottom: 0.3em;
}
.second .stats .box .text{
  font-size: 1.2em;
}
.second .p2{
  margin-top: 2em;
  columns: 2;
  column-gap: 35px;
  text-align: justify;
  font-weight: 300;
  font-size: 1em;
  line-height: var(--LH);
}
@media (max-width: 767px){
  .second .stats{
    flex-direction: column;
    width: 100%;
  }
  .second .stats .box{
    padding: 40px 60px;
  }
  .second .stats .box:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .second .stats .box:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .second .p2{
    columns: 1;
  }
}
/* End Second Section */

/* Start Get */
.get p{
  text-align: center;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: var(--letter-space);
  line-height: var(--LH);
  max-width: 600px;
  margin: 0 auto 2em;
}
.get .buttons{
  text-align: center;
}
.get a{
  display: inline-flex;
}
.get a:first-child{
  background-color: #8cc9f0;
  color: white;
}
.get a:first-child:hover{
  background-color: #9acff2;
}
@media (max-width:767px) {
  .get .buttons{
    display: flex;
    flex-direction: column;
  }
  .get a{
    margin: 0.4em auto;
    width: 100%;
  }
}
/* End Get */

/* Start Footer */
footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
  gap: 50px 20px;
}
footer h3{
  color: white;
  font-size: 1.3em;
  font-weight: 300;
  margin: 0 0 0.8em;
}
footer .text{
  
  position: relative;
}
footer .text p{
  max-width: 100%;
  font-size: 0.9em;
  line-height: var(--LH);
  color: #eab3c2;
}
footer .text a{
  margin-left: 0;
  color: white;
  position: relative;
}
footer .more:hover{
  background-color: transparent ;
}
footer a::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255 255 255/0.075);
  opacity: 0;
  transition: opacity var(--mianTrans);
  -webkit-transition: opacity var(--mianTrans);
  -moz-transition: opacity var(--mianTrans);
  -ms-transition: opacity var(--mianTrans);
  -o-transition: opacity var(--mianTrans);
}
footer a:hover::after{
  opacity: 1;
}

footer .info dl{
  display: flex;
  text-transform: capitalize;
  font-size: 0.9em;
  margin-bottom: 1.8em;
}
footer .info dt{
  flex-basis: 16%;
  color: white;
}
footer .info dd{
  color: #eab3c2;
}
footer .info dd a{
  color: #eab3c2;
  border-bottom: 1px dotted #eab3c2;
  transition:color var(--mianTrans);
  -webkit-transition:color var(--mianTrans);
  -moz-transition:color var(--mianTrans);
  -ms-transition:color var(--mianTrans);
  -o-transition:color var(--mianTrans);
}
footer .info dd a:hover{
  color: white;
  border: none;
}
footer .info dd a::after{
  display: none;
}
footer ul{
  display: flex;
}
footer .social li{
  margin-right: 10px;
  border: 1px solid #eab3c2;
  width: 40px;
  position: relative;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
footer .social a{
  width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
footer .social a::after{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
footer .social i{
  font-size: 1.3em;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
footer .copy{
  margin: 2em 0 0;
  text-align: center;
  font-weight: 300;
  font-size: 0.8em;
  color: #eab3c2;
}
footer .copy a{
  color: #eab3c2;
  border-bottom: 1px dotted #eab3c2;
  transition:color var(--mianTrans);
  -webkit-transition:color var(--mianTrans);
  -moz-transition:color var(--mianTrans);
  -ms-transition:color var(--mianTrans);
  -o-transition:color var(--mianTrans);
}
footer .copy a:hover{
  color: white;
  border: none;
}
footer .copy a::after{
  display: none;
}
@media (max-width:767px) {
  footer *{
    text-align: center;
  }
  footer .text{
    max-width: 80%;
  }
  footer .info{
    max-width: 80%;
  }
  footer .text a{
    margin-left: auto;
  }
  footer ul{
    justify-content: center;
  }
  footer .info dt{
    flex-basis: 23%;
    text-align: left;
  }
}
/* End Footer */